<div class="container-fluid d-flex flex-column">
    <div class="carousal-container">
        <!--Bootstrap courousal-->
        @if(imageData){
            <ngb-carousel [showNavigationArrows]="true" 
                          [showNavigationIndicators]="true" 
                          [pauseOnHover]=true
                          class="h-100">
                <ng-template *ngFor="let imageUrl of imageData; let i = index" ngbSlide >
                    <div class="h-100">
                        <img [src]="imageUrl" alt="Slide + {{i+1}}"  class="carousal-image"/>
                    </div>
                </ng-template>
            </ngb-carousel>
        }
    </div>
    <div class="property-details-card">
        <div class="row gy-4">
      <!-- Left Column -->
        <div class="col-md-6">
            <h3 class="text-center page-heading mb-4"> {{propertyDetails.name}}</h3>
            <p>{{ propertyDetails?.description }}</p>
            <h6 class="mt-4">Address</h6>
            <p style="white-space: pre-line;">{{ addressDetails }}</p>
        </div>
      <!-- Right Column -->
        <div class="col-md-6">
            <h5>Amenities</h5>
            <ul class="list-group list-group-flush shadow-sm">
            <li *ngFor="let amenity of amenitiesData" class="list-group-item px-0 bg-transparent">
                <i class="bi bi-check2-circle text-success me-2"></i>{{ amenity.amenity }}
            </li>
            </ul>
        </div>
        </div>
    </div>
</div>