<div class="container-fluid py-2">
  <div class="row justify-content-center mb-4 text-center">

    <!-- Property List Heading -->
    <div class="col-auto">
      <b class="page-heading mb-0"> Properties</b>
    </div>

    
    <div class="col-md-4 col-lg-5 ">
      <!-- Search Bar (Moderate Width) -->
      <div class="input-group">
        <input type="text" name="propertySearch" id="search-property" class="form-control search-input">
        <button class="btn  btn-outline-primary" onclick="performSearch()">
          <i class="bi bi-search"></i>
        </button>
      </div>

    </div>

    <!-- Add Property Button -->
    <div class="col-auto">
      <button class="btn add-btn btn-primary" title="Add property" (click)="addProperty()">
        + Add Property
      </button>
    </div>

  </div>

  <div class="mt-4">
    @if (properties?.length > 0) {
    <div class="row g-3">
      @for (property of properties; track property.propertyId) {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
        <div class="card h-100 shadow-sm position-relative">
          <img *ngIf="property.thumbnailImage else noImage" [src]="property.thumbnailImage" alt="Property Image"
            class="card-img-top object-fit-cover" style="height: 200px;"  (click)="viewProperty(property.propertyId)"/>
          
          <!-- Delete Icon overlay on image-->
           <button class="delete-btn position-absolute end-0 top-0 m-2 rounded-circle" (click)="deleteProperty(property.propertyId)"
              data-bs-toggle="tooltip" tooltip="Delete">
            <i class="bi bi-x"></i>
           </button>

            <!-- EDit Icon overlay on image, but below the delete icon-->
           <button class="edit-btn position-absolute end-0 top-0 mt-5 m-2 rounded-circle" (click)="editProperty(property.propertyId)"
              data-bs-toggle="tooltip" tooltip="Edit Property">
            <i class="bi bi-pencil-square"></i>
           </button>
          <ng-template #noImage>
            <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
              <span class="text-muted">No Image</span>
            </div>
          </ng-template>


          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title text-truncate mb-0">{{ property.name || 'Unnamed' }}</h5>
              <p class="fw-semibold text-success mb-0">${{ property.price || 'NA' }}/D</p>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="alert alert-warning text-center mt-5">
      No properties available to display.
    </div>
    }
  </div>
</div>